.header_resize {
	margin:0 auto;
	padding:0;
	width:960px;
}
.ptitle {
	padding:0;
	float:left;
	width:auto;
	height:120px;
    font-family: proxima-nova;
    font-weight: 600;
    font-style:normal;
    font-size: 30px;
    letter-spacing: .11em;
    line-height: 1.5em;
    color: #c7423f;
}
h1 {
	margin:0 ;
	padding:25px 0 0;
	font-size:48px;
	font-weight:normal;
	line-height:1.2em;
	text-transform:none;
}
h1 a, h1 a:hover {
	color: #c7423f;
	text-decoration:none;
}

#content {
    position: relative;
}
#content img {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 20px;
    width: 100%;
}
#footer {
    bottom:0;
    width: 100%;
    background:#6b6b6b;
    padding: 0 0 0 0;
    text-align: center;
    line-height:1em;
	border-top:1px solid #080808;
    border-bottom: 1px solid #080808 ;
    color:#fff;
    font-style: italic;
}


table {
    width: 100%;
 }
th {
    text-align: left;
}
th.col1 {
    width: 25%
  }
